/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 100px rgb(205, 154, 154);
    padding: 0px;
   
   
  
    background-image: url(background.jpg);
    background-repeat: repeat;
}

header {
    text-align: center;
    background-color: transparent;
   
    padding:1px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 10px;
    margin: 0px;
}

#destinations {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
}

.destination {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.destination img {
    max-width: 100%;
    border-radius: 8px;
    
    
}

.destination button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.destination button:hover {
    background-color: #005bb5;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
    position:relative;

}
